*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: #321d5e;
    margin: 0;
}
section{
    width: 100%;
    margin-top: 5rem;
}
a{
    cursor: pointer;
    text-decoration: none;
}
li{
    list-style-type: none;
}
a:hover{
    opacity: 0.2;
}
.flex{
    display: flex;
}
/* Thanh menu Tổng quát */
.chuongTrinhs{
    background-color: white;
}
.chuongTrinhs>nav{
    margin: 0 auto !important;
}
.chuongTrinhs>nav>ul>li{
    padding: 0 2rem;
}

.chuongTrinhs>nav>ul>li>a{
    color: #31294C;
    margin: 1rem 1rem;
}
.thongTinTQ{
    display: flex;
    background-color: #31294C;
    width: 100%;
    display: none;
}

.tungKhoaTQs a{
    text-decoration: none;
    color: white;
}
.tungKhoaTQs>a{
    color: #da18dd;
    font-weight: bold;
    /* margin-bottom: 3rem; */
}
.tungKhoaTQs{
    margin-top: 1rem;
    height: 140px;
}
.khoaTQs{
    margin: 1rem;
}
.nganhTQs{
   padding-left: 0;
}
.nganhTQs>li{
    padding: 2px 0;
}
.anhQuangCao{
    width: 20%;
    margin: auto 0;
    margin-left: 5rem;
}
.anhQuangCao>img{
    width: 275px;
    height: 250px;
}
.anhQuangCao{
    color: white;
    background-color: #25355a;
    border-radius: 0 0 10px 10px;
}
.ghiChuQC a{
    color: white;
}
.ghiChuQC i{
    font-size: 14px;
}
.ghiChuQC{
    padding: 0 1rem ;
}
.CLCTQs{
    height: 500px;
}
.CLCTQs a{
    color: white;
    
}
.CLCTQs>.nganhTQs{
    margin-left: 3rem;
}
.CLCTQs li{
    margin: 1rem 1rem;
}
.CLCTQs a{
    font-size: 18px;
}
.menuTongQuat{
    display: flex;
    width: 100%;
}
.coMucLuc:hover{
    background-color: #b9a2d8;
}
.coMucLuc>a:hover{
    color: #25355a !important;
}
.BigTieuDe {
    top: 20% !important;
}
.thucnghiem>img{
    width: 25%;
}
.thucnghiem{
    color: white;
}
#main{
    margin-top: 0;
}









/*Thanh menu*/
#menuRutGon{
    display: none;
}
header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #31294C;
}
.mucLucs{
    background-color: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.logoTruongs{
    padding-left: 3rem;
    margin: 0.3rem;
}
#logoTruong{
    width: 250px;
}
nav.mucLucs{
    margin-top: 0.3rem;
    margin-left: auto;
    padding-right: 3rem;
}
ul.mucLucs>li>a{
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    color: white;
    font-weight: bold;
    margin: 1.25rem 0.5rem;
}
ul.mucLucs>li>a:hover{
    color: #b9a2d8;
}
/* Thanh menu nhỏ trong menu */
ul.mucLuc{
    margin: 0;
    padding: 0;
    background-color: #31294C;
    display: none;
    position: absolute;
    border-radius:0 0 5% 5%;
}
ul.mucLuc>li>a{
    text-decoration: none;
    color: white;
}
ul.mucLuc>li>a:hover{
    color: #b9a2d8;
}
.sub:hover .mucLuc{
    display: block !important;
}
.mucLuc>li:first-child{
    margin-top: 1.5rem;
}
.mucLuc>li{
    margin: 0 1.5rem 1.5rem 1.5rem;
    margin-left: 1.5rem;
}
.editMenuSmall2>li{
    margin-right: 1.5rem !important;
}
#closeMenu{
    display: none;
}
#nganhDacBiet{
    margin-top: 200px;
}
/*-----------------Khoa---------------*/
.tieuCT{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 40px;
}
#khoa {
    margin-top : 100px;
}
.wapper {
    display : flex;
    background-color: white;
    width : 80%;
    flex-wrap: wrap;
    margin : 0 auto;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999;
    padding : 2rem;
}
.wapper > div {
    display : flex;
    color : white;
    width : 30%;
    padding : 5% 2% ;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border : 1px solid black;
}
.wapper > .khoa > a, .wapper > .nganhDacBiet > a {
    display : block;
    text-align: center;
    width : 100%;
    height : 200px;
}


/* Footer */

footer{
    margin: 0;
    margin-top: 6rem;
    color: white;
    width: 100%;
    background-color: #321d5e;
}

.footer{
    width: 80%;
    margin: 0 auto;
}
.iconLienHe>ul>li{
    margin: 0 0.5rem;
    font-size: 25px;
}
footer a{
    text-decoration: none;
    color: white;
}

.phanDau{
    width: 100%;
    margin: 2rem 0;
}
.logoTruongFooter{
    margin-left: 0;
}
#truongFooter{
    width: 90%;
}
.iconLienHe{
    margin-left: auto;
}
.iconLienHe>ul{
    display: flex;
}
.phanGiua{
    width: 100%;
    margin: 1.5rem 0;
}
.thongtinNDF{
    padding-left: 0;
}
.thongtinNDF>li{
    padding: 7px 0;
}

.thongtinNDF>li>a>i{
    padding-right: 10px;
}
.noidungFooters:first-child{
    width: 45%;
}
.noidungFooters:nth-child(2){
    width: 40%;
}
.tieuDeNDF{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #da18dd;
}
.tenNoiDungFooters >i{
    margin: auto 0;
}
.tenNoiDungFooter{
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.noiDungNhoFooter{
    font-size: 14px;
}

.phanCuoi>span{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}




@media screen and (max-width: 1024px){
    /* footer */
    .noidungFooters:nth-child(2) {
        width: 45%;
    }
    .noidungFooters:nth-child(2) {
        width: 30%;
    }
    .noidungFooters:nth-child(3) {
        width: 25%;
    }
}

@media screen and (max-width: 768px){
    /* menu */
    .noidungFooters:nth-child(1) {
        width: 53%;
    }
    .noidungFooters:nth-child(2) {
        width: 32%;
    }
    .noidungFooters:nth-child(3) {
        width: 25%;
    }
    nav.mucLucs{
        z-index: 10000;
        display : none;
        width : 100vw;
        margin : 0;
        position : relative;
        flex-direction: column; 
        position: fixed;
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: right;
        align-items: right;
        text-align: right;
    } 
    nav.mucLucs>ul{
        display: block;
        width: 60%;
        margin-right: auto;
        transition: 2s ease-out;
    }
    nav.mucLucs>ul>li{
        border-bottom : 1px solid lightgray;
    }
    nav.mucLucs>ul>li>a{
        text-align: left;
        padding: 1rem;
        padding-right: 3rem;
        margin: 0;
    }
    #menuRutGon {
        display: block;
        display : flex;
        font-size: 30px;
        width : 3rem;
        height : 3rem;
        padding : 1rem;
        align-items: center;
        z-index : 1000;
        cursor: pointer;
        margin : 0.5rem 1rem;
        color : white;
        margin-left : auto;
    }
    ul.mucLucs{
        height:100%;
        background-color: #31294C;
        font-size: 24px;
    }
    #menuRutGon>i{
        margin: 0 auto;
    }
    ul.mucLuc {
        background: none;
    }

    .sub > ul {
        width : 100%;
        position : relative;
        background-color: #5756BB;
        border-radius: 0;
    } 
    .mucLuc>li{
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom : 1px solid lightgray;
        margin: 0;
       text-align: left;
        
    }
    .mucLuc>li:first-child {
        margin-top: 0;
    }
    .mucLuc>li:last-child {
        border-bottom : none;
    }
    .mucLuc>li>a{
        text-align: left;
        padding: 1rem;
        margin-right: 2rem;
    }
    #closeMenu {
        text-align: left;
        border-bottom: none;
        margin-bottom: auto;
        text-align: left;
        padding: 1rem;
        padding-right: 3rem;
        margin: 0;
        font-size: 24px;
        color: white;
        font-weight: bold;
        display: block;
        cursor: pointer;
    }
    #closeMenu:hover{
        color: #da18dd;
    }
}

@media screen and (max-width: 430px){
    nav.mucLucs>ul{
        width: 100%;
    }
    div.logoTruongs{
        padding-left: 1rem;
    }
}

/* main */

.coSos{
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: white;
    transition: 2s;

}
.truongs{
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.truong{
    display: flex;
    width: 200%;
    top: 0;
    left: 0;
    height: 100%;
}

.tieuDe{
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    justify-content: space-between;
}

.backgroundTruongTQ{
    width: 100%; 
    height: 650px;
}
.backgroundTruongTQ>img{
    width: 180%; 
}